.get-started-section {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.step-flow {
  gap: 1rem;
  flex-wrap: wrap;
}

.step-item {
  flex: 1;
  min-width: 200px;
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
  position: relative;
  margin: 0.5rem;
}

.icon-circle {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-color: #dbeafe;
  color: #0d6efd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
