.hero {
  background-color: white;
}

.getStartedbtn {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(0, 62, 139);
}

.joinSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80px;
  width: auto;
  background-color: #ececec;
  padding: 0px 80px;
}

.eventCodeInput {
  max-width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
