/* Active Vote Button */
.button.active {
  background-color: #010914;
  color: white;
  border: none;
}

.button.active:hover {
  background-color: #3b3c3e;
}

/* Disabled Vote Button */
.button.disabled {
  background-color: #adb5bd;
  color: #ffffff;
  border: none;
  cursor: not-allowed;
  pointer-events: none;
}
