@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

@logo-font-face {
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-font {
  font-family: 'Mitr', 'sans-serif';
}
